
		<div class="featurette">
			</br>
			</br>
		<div class="row-fluid">
		<div class="span6 offset1">
			</br>
		<h1 class="featurette-heading">Welcome to HarvardHangouts, <span class="muted">a platform for hanging out.</span></h1>
		<p class="lead">When people want to get together to do something informal, they have to resort to sending multiple emails or texts to each of their friends or interested parties. We believe that this is neither the most efficient nor easy way to do things, and we envisioned a website that would provide a forum for people to see where their friends are and what they’re up to at any given time. Thus, HarvardHangouts was born.</p>
		</div>
		<div class="span4">
			</br>
		<img class="featurette-image pull-right" src="/assets/harvard.jpg">
		</div>
		</div>
		</div>