<% if user_signed_in? %>
	<br/>
	<div class="row-fluid">
		<div class="span10 offset2">
			<h1>HarvardHangouts: All Hangouts</h1>
		</div>
	</div>
	<br/>
	<%= render 'form' %>
<% else %>
	<!-- redirect if not signed in -->
	<script type="text/javascript">
	   	window.location.href="/about"
	</script>
<% end %>