<div class="row-fluid">
	<div class="span6 offset2">
		</br>
		<h1>New Hangout</h1>
	</div>
</div>

<div class="row-fluid">
    <div class="span2 bs-docs-sidebar">
        <ul class="nav nav-list bs-docs-sidenav">
        </ul>
    </div>

<div class="span10">
<%= render 'form' %>
</div>

</div>